html{
    font-family: Helvetica;
    text-align: center;
}

#header, #design_ny, #footer{
    color: white;
    background-image: url(../images/the-flatiron-building.png);
}

#header a, #footer a{
    color: white;
    font-size: 18px;
}

#footer{
    text-align: left;
}

#footer p{
    font-size: 11px;
    background-color: dimgray;
}

#main{
    color: black;
}

#nav{
    list-style: none;
    font-size: 18px;
}

h1{
    font-size: 70px;
    font-weight: bold;
}

h2{
    font-size: 32px;
    font-weight: bold;
}

h3{
    font-size: 23px;
    font-weight: bold;
}

p{
    font-size: 14px;
}

